In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\ana\lib\site-packages (4.8.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\ana\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\ana\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: trio~=0.17 in c:\ana\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\ana\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: attrs>=19.2.0 in c:\ana\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\ana\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\ana\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\ana\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: outcome in c:\ana\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\ana\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: async-generator>=1.9 in c:\ana\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\ana\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: wsproto>=0.14 in c:\ana\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\ana\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\ana\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\ana\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import pandas as pd
import numpy as np
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

In [3]:
driver= webdriver.Chrome(r"chromedriver.exe")

In [4]:
driver.get('https://www.naukri.com/')

In [5]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Banglore')

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [9]:
import pandas as pd

In [10]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [12]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    loc=i.text
    job_location.append(loc)

In [14]:
name_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in name_tags[0:10]:
    com=i.text
    company_name.append(com)

In [15]:
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [16]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Title,Location,Company,Experience
0,Data Engineer/Data Analyst,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",Tech Mahindra,6-11 Yrs
1,Data Analyst,Bangalore/Bengaluru,Ingersoll Rand,3-6 Yrs
2,Data Analyst,Bangalore/Bengaluru,Unusual Hire,1-4 Yrs
3,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs
4,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs
5,ExcelHER-Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Volvo Financial Services,3-5 Yrs
6,Data Analyst,Bangalore/Bengaluru,Clarivate,2-4 Yrs
7,Data Analyst,Bangalore/Bengaluru,Novel Office,0-2 Yrs
8,Data Analyst - EdTech,Bangalore/Bengaluru,Talentstack,2-6 Yrs
9,Data Analyst - MySQL,Bangalore/Bengaluru,Talentstack,2-7 Yrs