In [1]:
  !pip install selenium

Requirement already satisfied: selenium in c:\ana\lib\site-packages (4.8.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\ana\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\ana\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: trio~=0.17 in c:\ana\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\ana\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: attrs>=19.2.0 in c:\ana\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\ana\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\ana\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\ana\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: outcome in c:\ana\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\ana\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: async-generator>=1.9 in c:\ana\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\ana\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: wsproto>=0.14 in c:\ana\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\ana\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\ana\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\ana\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [1]:
import pandas as pd
import numpy as np
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

In [3]:
driver= webdriver.Chrome(r"chromedriver.exe")

In [4]:
driver.get('https://www.naukri.com/')

In [5]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Banglore')

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [9]:
import pandas as pd

In [10]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [12]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    loc=i.text
    job_location.append(loc)

In [14]:
name_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in name_tags[0:10]:
    com=i.text
    company_name.append(com)

In [15]:
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [16]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Title,Location,Company,Experience
0,Data Engineer/Data Analyst,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",Tech Mahindra,6-11 Yrs
1,Data Analyst,Bangalore/Bengaluru,Ingersoll Rand,3-6 Yrs
2,Data Analyst,Bangalore/Bengaluru,Unusual Hire,1-4 Yrs
3,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs
4,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs
5,ExcelHER-Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Volvo Financial Services,3-5 Yrs
6,Data Analyst,Bangalore/Bengaluru,Clarivate,2-4 Yrs
7,Data Analyst,Bangalore/Bengaluru,Novel Office,0-2 Yrs
8,Data Analyst - EdTech,Bangalore/Bengaluru,Talentstack,2-6 Yrs
9,Data Analyst - MySQL,Bangalore/Bengaluru,Talentstack,2-7 Yrs

In [47]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [48]:
driver.get('https://www.flipkart.com/')

In [49]:
cancel=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
cancel.click()

In [50]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sunglasses')

In [51]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [52]:
brand=[]
product_description=[]
price=[]

In [68]:
start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        brand.append(i.text)
    next_button=driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    time.sleep(3)

In [69]:
len(brand)

680

In [66]:
start=0
end=3
for page in range(start,end):
    description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description_tags[0:100]:
        product_description.append(i.text)
    next_button=driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    time.sleep(3)

In [67]:
len(product_description)

119

In [58]:
start=0
end=3
for page in range(start,end):
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags[0:100]:
        price.append(i.text)
    next_button=driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    time.sleep(3)

In [59]:
len(price)

120

In [43]:
import pandas as pd

In [44]:
df=pd.DataFrame({'Brand Name':brand,'Description':product_description,'Price':price})
df[0:100]

ValueError: All arrays must be of the same length

In [73]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [74]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=iphone+11+black+64+gb&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=d76dc5ab-d4fe-4fc9-a86f-a9d47af57019.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=61hoxkhoo00000001680776474567&qH=5f530f2df85791a0')

In [81]:
all= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[7]/div/a/div/span')
all.click()

In [109]:
ratings=[]
ratings_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in ratings_tags[0:10]:
    ratings.append(i.text)

In [95]:
len(ratings)

10

In [110]:

print(ratings)

['5', '5', '5', '4', '5', '5', '4', '5', '5', '5']

In [97]:
review_summary=[]
reviews=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in reviews[0:10]:
    review_summary.append(i.text)

In [98]:
len(review_summary)

10

In [99]:
print(review_summary)

['Simply awesome', 'Perfect product!', 'Best in the market!', 'Value-for-money', 'Highly recommended', 'Worth every penny', 'Pretty good', 'Perfect product!', 'Highly recommended', 'Great product']

In [100]:
review_s=[]
review=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in review[0:10]:
    review_s.append(i.text)

In [101]:
len(review_s)

10

In [20]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [21]:
driver.get('https://www.amazon.in/')

In [22]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('laptops')

In [23]:
button=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
button.click()

In [24]:
cpu_type=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[10]/span/a/div/label/i')
cpu_type.click()

In [25]:
title=[]
rating=[]
price=[]

In [27]:
title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:10]:
    title.append(i.text)

In [28]:
len(title)

10

In [29]:
rating_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in rating_tags[0:10]:
    rating.append(i.text)

In [30]:
len(rating)

10

In [31]:
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    price.append(i.text)

In [32]:
len(price)

10

In [33]:
import pandas as pd

In [34]:
df=pd.DataFrame({'Title':title,'Rating':rating,'Price':price})
df

                                               Title Rating   Price
0  Fujitsu CH Intel Evo Core i5 11th Gen 13.3" FH...    3.9  54,990
1  Acer Aspire Vero Green Thin and Light Laptop I...    4.1  49,490
2  HP Victus Gaming Laptop 11th Gen Intel Core i5...    2.5  62,990
3  Honor MagicBook X14, 11th Gen Intel Core i5-11...    4.2  43,990
4  HP 15s, 11th Gen Intel Core i5-1155G7, 15.6 in...    4.0  53,490
5  Xiaomi NotebookPro QHD+ IPS Display Intel Core...    4.3  50,999
6  Dell Inspiron 3520 Laptop,12th Gen Intel Core ...    3.9  58,990
7  HP Pavilion 14 12th Gen Intel Core i5 16GB RAM...    4.2  68,990
8  Lenovo IdeaPad Slim 3 Intel Core i5 11th Gen 1...    4.1  50,990
9  Dell Vostro 3420 Laptop,12th Gen Intel Core i5...    4.2  55,990

In [35]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [36]:
driver.get('https://www.azquotes.com/')