In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\nirik\anaconda3\lib\site-packages (4.8.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\nirik\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: trio~=0.17 in c:\users\nirik\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\nirik\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\nirik\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: sniffio in c:\users\nirik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\nirik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\nirik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\nirik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\nirik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\nirik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\nirik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\nirik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\nirik\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\nirik\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\nirik\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\nirik\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [1]:
import pandas as pd
import selenium
import numpy as np
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

In [6]:
driver= webdriver.Chrome(r"chromedriver.exe")

In [7]:
driver.get('https://www.naukri.com/')

In [8]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [9]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Banglore')

In [10]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [11]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [12]:
import pandas as pd

In [13]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [14]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    loc=i.text
    job_location.append(loc)

In [15]:
name_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in name_tags[0:10]:
    com=i.text
    company_name.append(com)

In [16]:
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [17]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Title,Location,Company,Experience
0,Data Engineer/Data Analyst,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",Tech Mahindra,6-11 Yrs
1,Data Analyst,Bangalore/Bengaluru,Ingersoll Rand,3-6 Yrs
2,Data Analyst,Bangalore/Bengaluru,Unusual Hire,1-4 Yrs
3,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs
4,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs
5,"Data Analyst, Grp 4.3",Bangalore/Bengaluru,ANZ,5-9 Yrs
6,ExcelHER-Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Volvo Financial Services,3-5 Yrs
7,Data Analyst,Bangalore/Bengaluru,Clarivate,2-4 Yrs
8,Data Analyst,Bangalore/Bengaluru,Novel Office,0-2 Yrs
9,Data Analyst - EdTech,Bangalore/Bengaluru,Talentstack,2-6 Yrs

## Answer 2

In [18]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [19]:
driver.get(' https://www.naukri.com/')

In [20]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [21]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Banglore')

In [22]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [39]:
job_title=[]
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [34]:
job_location=[]
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    loc=i.text
    job_location.append(loc)

In [35]:
company_name=[]
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [40]:
print(len(job_location),len(job_title),len(company_name))

10 10 10

In [28]:
import pandas as pd

In [41]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name})
df

,Title,Location,Company
0,Data Engineer/Data Analyst,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",Tech Mahindra
1,Data Analyst,Bangalore/Bengaluru,Ingersoll Rand
2,Data Analyst,Bangalore/Bengaluru,Unusual Hire
3,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj
4,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj
5,"Data Analyst, Grp 4.3",Bangalore/Bengaluru,ANZ
6,ExcelHER-Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Volvo Financial Services
7,Data Analyst,Bangalore/Bengaluru,Clarivate
8,Data Analyst,Bangalore/Bengaluru,Novel Office
9,Data Analyst - EdTech,Bangalore/Bengaluru,Talentstack

## Answer 3

In [43]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [44]:
driver.get(' https://www.naukri.com/')

In [45]:
skill=driver.find_element(By.CLASS_NAME,"suggestor-input ")
skill.send_keys('Data Scientist')

In [46]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [49]:
select_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[1]/div[2]/div[2]/label/p/span[1]')
select_loc.click()

In [50]:
salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
salary.click()

In [52]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [53]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [54]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    loc=i.text
    job_location.append(loc)

In [55]:
name_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in name_tags[0:10]:
    com=i.text
    company_name.append(com)

In [56]:
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [57]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Title,Location,Company,Experience
0,Data Scientist,"Temp. WFH - Kochi/Cochin, Kolkata, Hyderabad/S...",Cognizant,6-10 Yrs
1,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
2,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
3,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs
4,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Tabsquare,1-3 Yrs
5,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
6,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
7,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
8,Senior Data Scientist,"Hyderabad/Secunderabad, Chenani, Gurgaon/Gurug...",RecruitEForU,3-8 Yrs
9,Assistant Manager/Senior Manager - Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Huquo Consulting Pvt. Ltd,2-7 Yrs

## Answer 4

In [21]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [22]:
driver.get('https://www.flipkart.com/')

In [23]:
cancel=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
cancel.click()

In [24]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sunglasses')

In [25]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [26]:
brand=[]
product_description=[]
price=[]

In [27]:
start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        brand.append(i.text)
    next_button=driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    time.sleep(3)

In [28]:

len(brand)

120

In [29]:
start=0
end=3
for page in range(start,end):
    description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description_tags:
        product_description.append(i.text)
    next_button=driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    time.sleep(3)

In [30]:
len(product_description)

117

In [31]:
start=0
end=3
for page in range(start,end):
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags[0:100]:
        price.append(i.text)
    next_button=driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    time.sleep(3)

In [32]:
len(price)

120

## Answer 5

In [60]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [61]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=iphone+11+black+64+gb&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=d76dc5ab-d4fe-4fc9-a86f-a9d47af57019.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=61hoxkhoo00000001680776474567&qH=5f530f2df85791a0')

In [62]:
all= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[7]/div/a/div/span')
all.click()

In [63]:
next_page=driver.find_element(By.CLASS_NAME,"_1LKTO3")
next_page.click()

In [64]:
ratings=[]

In [65]:

start=0
end=10
for page in range(start,end):
    ratings_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in ratings_tags:
        ratings.append(i.text)

In [66]:
len(ratings)

100

In [67]:
review_summary=[]
start=0
end=10
for page in range(start,end):
    reviews=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in reviews:
        review_summary.append(i.text)

In [68]:
len(review_summary)

100

In [71]:
review_s=[]
start=0
end=10
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in review:
        review_s.append(i.text)

In [72]:
len(review_s)

100

In [73]:
import pandas as pd

In [74]:
df=pd.DataFrame({'Rating':ratings,'Review Summary':review_summary,'Full Review':review_s})
df

,Rating,Review Summary,Full Review
0,5,Fabulous!,This is my first iOS phone. I am very happy wi...
1,5,Classy product,Best and amazing product.....phone looks so pr...
2,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
3,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
4,4,Good choice,So far it’s been an AMAZING experience coming ...
...,...,...,...
95,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
96,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
97,4,Value-for-money,Just got this iphone 11\nAnd it is most powerf...
98,5,Highly recommended,"Amazing camera quality as expected, battery al..."
99,5,Perfect product!,It is just awesome mobile for this price from ...

## Answer 6

In [122]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [123]:
driver.get('https://www.flipkart.com/')

In [124]:
cancel=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
cancel.click()

In [125]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sneakers')

In [126]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [127]:
next_page=driver.find_element(By.CLASS_NAME,"_1LKTO3")
next_page.click()

In [128]:
brand=[]
start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        brand.append(i.text)

In [129]:
len(brand)

120

In [130]:
product_description=[]
start=0
end=3
for page in range(start,end):
    description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description_tags:
        product_description.append(i.text)

In [131]:
len(product_description)

120

In [132]:
price=[]
start=0
end=3
for page in range(start,end):
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        price.append(i.text)

In [133]:
len(price)

120

In [134]:
import pandas as pd

In [136]:
df=pd.DataFrame({'Brand':brand,'Product Description':product_description,'Price':price})
df

           Brand                                Product Description   Price
0    New Balance                               500 Sneakers For Men  ₹4,977
1       RapidBox                  Stylish & Trendy Sneakers For Men    ₹571
2         BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men    ₹279
3          BIRDE  Premium Casual Shoes for Women Sneakers For Women    ₹299
4          BIRDE                    Casual Shoes Sneakers For Women    ₹199
..           ...                                                ...     ...
115     Elevarse                                   Sneakers For Men    ₹259
116      BIG FOX                                   Sneakers For Men    ₹799
117         PUMA                        RS-X Mix Sneakers For Women  ₹3,999
118         aadi  Mesh| Lightweight| Premiun| Comfort| Summer Te...    ₹299
119        BIRDE           Trendy Comfortable Shoe Sneakers For Men    ₹499

[120 rows x 3 columns]

In [137]:
df[0:100]

          Brand                                Product Description   Price
0   New Balance                               500 Sneakers For Men  ₹4,977
1      RapidBox                  Stylish & Trendy Sneakers For Men    ₹571
2        BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men    ₹279
3         BIRDE  Premium Casual Shoes for Women Sneakers For Women    ₹299
4         BIRDE                    Casual Shoes Sneakers For Women    ₹199
..          ...                                                ...     ...
95        BIRDE            Combo Pack of 2 Sports Sneakers For Men    ₹499
96         PUMA                  RS-Z Reinvention Sneakers For Men  ₹6,191
97  SOLETHREADS                                   Sneakers For Men  ₹1,209
98       Kraasa        Casuals, Canvas, Partywear Sneakers For Men    ₹449
99        BIRDE  Stylish Comfortable Lightweight, Breathable Sh...    ₹379

[100 rows x 3 columns]

## Answer 7

In [138]:
driver=webdriver.Chrome(r"chromedriver.exe")